{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>index.html</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>

<body>

<div class="container" id="main">

</div>

<script type="text/template" id="activity-list">
    <div class="row">
        <% activities.forEach(function (activity) { %>
            <%= activity %>
        <% }) %>
    </div>
</script>

<script type="text/template" id="activity-detail">
    <div>
        <a class="btn btn-default" href="<%= url %>"><%= title %></a>
    </div>
</script>
<script src="{% static 'js/bundle.js' %}"></script>
</body>

</html>
